/* ------------------------ AGENDA ------------------------ */

.calendar {
	padding: 50px;
}

.calendar table {
	border-collapse: separate;
	width: 100%;
}

.calendar caption {
	text-align: left;
}

.calendar caption a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	padding: 0 15px 0 15px;
	background-color: #ccd500;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.calender i {
	margin-left: 15px;
}

.calendar th, td {
	height: 80px;
}

.calendar td {
	background-color: #F3F2F2;
	border: 2px solid #fff;
	width: 14.2%;
	text-align: right;
	vertical-align: top;
}

.calendar td span {
	text-align: right;
}

.calendar article figure {
	float: left;
}

/*.calendar .text_block {
	float: right;
}*/

.calendar article figure + p, .calendar article h3, .calendar article a {
	text-align: center;
	padding: 0 50px;
}

.calendar article {
	margin: 50px auto;
}


.calendar article a, .calendar article

