/* ------------------------ FOOTER ------------------------ */

footer {
	background-color: #333;
}

footer ul {
	margin: 0;
	padding: 0;
}

.insta {
	height: 135px;
	width: 100%;
	background-image: url(../images/insta.jpg);
	margin-bottom: 20px;
}

		/* -------- Menu Footer -------- */


.menu_footer, .social, .infos_ecocentre {
	display: inline-block;
	width: 33%;
	text-align: center;
	color: #eaead9;
}

.copyright {
	text-align: center;
	color: #eaead9;
	padding-bottom: 4px;
}

.copyright a {
	text-decoration: none;
	color: #eaead9;
}

.copyright a:hover {
	color: #ccd500;
}

.menu_footer li {
	list-style-type: none;
}
.menu_footer li:before, .menu_footer li:after {
    content: " • ";
}

.menu_footer a {
	text-decoration: none;
	color: #eaead9;
	line-height: 35px;
}


		/* -------- Newsletter & Social -------- */


.social form {
	margin-bottom: 20px;
}

.social input {
	height: 30px;
	border: none;
	color: #333;
	background-color: #eaead9;
	position: relative;
}

.social input[type="mail"] {
	border-radius: 15px 0 0 15px;
	padding-left: 15px;
	left: 30px;
	width: 60%;
	min-width: 200px;
}

.social input[type="submit"] {
	background-color: #ccd500;
	border-radius: 15px;
	right: 15px;
	width: 30%;
	min-width: 88px;
}

.social ul li {
	display: inline-block;
	margin: 2px;
}

.social ul li a {
	display: block;
	width: 47px;
	height: 47px;
}

.social ul li:first-child {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social ul li:nth-child(2) {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: -47px 0;
}

.social ul li:nth-child(3) {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: -94px 0;
}

.social ul li:nth-child(4) {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: -141px 0;
}

.social ul li:nth-child(5) {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: -188px 0;
}

.social ul li:first-child:hover {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: 0 -47px;
}

.social ul li:nth-child(2):hover {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: -47px -47px;
}

.social ul li:nth-child(3):hover {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: -94px -47px;
}

.social ul li:nth-child(4):hover {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: -141px -47px;
}

.social ul li:nth-child(5):hover {
	background-image: url(../images/icons/sprite_reseaux.png);
	background-repeat: no-repeat;
	background-position: -188px -47px;
}


		/* -------- Infos -------- */

.infos_ecocentre p:nth-child(3) {
	margin-bottom: 0;
}

.infos_ecocentre p:last-child {
	border-bottom: 1px solid #ccd500;
	padding: 0;
	margin: 0;
	width: 150px;
	padding-bottom: 20px;
	margin: auto;
}


.infos_ecocentre p:first-child {
	color: #ccd500;
	text-transform: uppercase;
}